.advantages {
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 38px 250px 6px 225px;
  }
}

.advantages__title {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 1.16;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 1.08;
    margin-bottom: 41px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 50px;
  }
}

.advantages__item {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.18;
  padding-top: 55px;

  @media (max-width: $mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  &--eco::before {
    content: url("../img/icon-eco.svg");
    position: absolute;
    top: 0;
    left: 8px;
  }

  &--price::before {
    content: url("../img/icon-price.svg");
    position: absolute;
    top: 1px;
    left: 0;
  }

  &--likes::before {
    content: url("../img/icon-likes.svg");
    position: absolute;
    top: 6px;
    left: 7px;
  }

  &--handmade::before {
    content: url("../img/icon-handmade.svg");
    position: absolute;
    top: 3px;
    left: -1px;
  }

  &--support::before {
    content: url("../img/icon-support.svg");
    position: absolute;
    top: 4px;
    left: -6px;
  }

  &--package::before {
    content: url("../img/icon-package.svg");
    position: absolute;
    top: 2px;
    left: 3px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.1;
    max-width: 325px;
  }
}
