.assortement-list {
  list-style-type: none;
  margin: 0;
  padding: 19px 344px 17px 51px;
  display: flex;
  flex-direction: row;
  background-color: $color-bg-grey;
  border-top: 1px solid $color-nav-border;

  &--theme-light {
    @media (min-width: $desktop-width) {
      background-color: $color-bg-header;
    }
  }
}

.assortement-list__link {
  display: block;
  margin-right: 63px;
  text-decoration: none;
  color: $color-text;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;

  &:hover {
    color: $color-link-hover;
  }

  &:active {
    color: $color-link-active;
  }
}
