.contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 172px 1fr 52px;
    padding: 0 49px 105px 113px;
  }
}

.contacts__title {
  position: relative;
  padding: 0 30px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 1.16;
    margin-bottom: 50px;
    padding-left: 51px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 1.08;
    padding-left: 112px;
    padding-top: 79px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: -23px;
      right: 53px;
      content: url("../img/contacts-flag.svg");
    }

    @media (min-width: $desktop-width) {
      top: 62px;
      left: 0;
    }
  }
}

.contacts__adress {
  display: grid;
  grid-template-columns: 76px 1fr;
  grid-template-rows: 26px 1fr;
  row-gap: 34px;
  padding: 0 30px;
  margin-bottom: 62px;
  font-size: 14px;
  line-height: 2.14;
  font-style: normal;
  color: $color-text-light;
  justify-items: start;

  @media (min-width: $tablet-width) and (max-width: 1149px) {
    grid-template-columns: 78px 256px 78px 230px;
    grid-template-rows: auto;
    font-size: 17px;
    line-height: 1.76;
    padding: 0 50px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 78px 1fr;
    font-size: 17px;
    line-height: 1.76;
    padding: 0 22px 0 111px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.contacts__email-content {
  position: relative;
  color: $color-text-light;
  text-decoration: none;

  &:hover {
    color: $color-turquoise;
  }

  &:active {
    color: $color-turquoise;
  }
}

.contacts__email-underline {
  position: absolute;
  top: 26px;
  left: 2px;
  content: "";
  width: 167px;
  height: 1px;
  background-color: $color-email-underline;

  @media (min-width: $tablet-width) {
    top: 29px;
    left: 1px;
    width: 204px;
  }

  @media (min-width: $desktop-width) {
    top: 33px;
  }
}

.contacts__email-content:active .contacts__email-underline {
  background-color: $color-turquoise-light;
}

.contacts__text-content {
  @media (min-width: $desktop-width) {
    width: 250px;
  }
}

.contacts__map-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 455px;
  margin-bottom: 41px;
  background-image: url("../img/map-image-mobile.jpg");

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 457px;
    margin-bottom: 55px;
    background-image: url("../img/map-image-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    order: 1;
    margin-bottom: 0;
    background-image: url("../img/map-image-desktop.jpg");
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.contacts__map-wrapper .contacts__map {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contacts__write {
  margin: 0 30px 39px 30px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 57px;
    font-size: 17px;
    line-height: 1.18;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 119px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &:hover {
    background-color: $color-text-light;
    color: $color-white;
  }

  &:active {
    background-color: $color-text-light;
    color: $color-btn-active;
  }
}
