.copyright {
  width: 260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding: 23px 39px 22px;
  box-sizing: border-box;
}

.copyright__text {
  font-size: 19px;
  line-height: 0.95;
  margin-right: 28px;
}

.copyright__link {
  height: 35px;
}
