.copyright {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    width: 260px;
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
    padding: 23px 39px 22px;
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 0.95;
  margin-right: 28px;
}

.copyright__link {
  height: 35px;
}
