.features {
  display: grid;
  grid-template-columns: 97px 1fr;
  grid-template-rows: 40px 40px 40px;
  grid-auto-flow: row;
  font-size: 15px;
  line-height: 1.33;
  color: $color-text-light;

  @media (min-width: $tablet-width) {
    padding-right: 42px;
  }
}

.features__parameter {
  border-bottom: 1px solid $color-border;
  padding-top: 8px;
}

.features__description {
  margin: 0;
  border-bottom: 1px solid $color-border;
  padding-top: 8px;
}
