//Uncomment below to close the menu//

.main-nav--hidden {
  display: none;
}

.main-nav__wrapper {
  position: absolute;
  z-index: 1;
  top: 79px;
  left: 0;
  display: flex;
  flex-direction: column;
}
