.main-form__title {
  min-height: 177px;
  background-color: $color-bg-grey;
  text-align: center;
  padding-top: 74px;
  box-sizing: border-box;
  font-size: 27px;
  line-height: 1.11;
  font-weight: 700;
  margin-bottom: 17px;
}

.main-form__subtitle {
  font-size: 13px;
  line-height: 1.85;
  color: $color-text-light;
  padding: 0 30px;
  margin-bottom: 27px;
}

.main-form__filter {
  padding: 0 30px;
}
