.modal-form__group {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 10px;
  }
}

.modal-form__title {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 2;
  text-align: center;
  color: $color-text-light;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 19px;
  }
}

.modal-form__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-bottom: 82px;
  padding: 0;
}

.modal-form__item:not(:last-child) {
  margin-right: 89px;

  @media (min-width: $tablet-width) {
    margin-right: 119px;
  }
}

.modal-form__label {
  position: relative;
  font-size: 17px;
  line-height: 0.94;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-text-light;
  cursor: pointer;
}

.modal-form__mark {
  position: absolute;
  width: 78px;
  height: 48px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 108px;
    height: 48px;
  }

  .modal-form__input:hover + & {
    border-color: $color-email-underline;
  }

  .modal-form__input:focus-visible + & {
    outline: 3px solid $color-text;
  }

  .modal-form__input:active + & {
    border-color: $color-link-active;
  }
}

.modal-form__input:checked + .modal-form__mark {
  border-color: $color-green-light;
}

.modal-form__button {
  background: $color-green-light;
  border: none;
  font-size: 17px;
  line-height: 0.94;
  color: $color-white;
  font-family: "Open sans", sans-serif;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 45px;
  }
}
