.modal-form__group {
  border: none;
  padding: 0;
}

.modal-form__title {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 2;
  text-align: center;
  color: $color-text-light;
  margin-bottom: 23px;
}

.modal-form__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.modal-form__item {
  width: 78px;
  height: 48px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    border-color: $color-green-light;
  }
}

.modal-form__item:not(:last-child) {
  margin-right: 7px;
}

.modal-form__label {
  font-size: 17px;
  line-height: 0.94;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-text-light;
}

.modal-form__button {
  background: $color-green-light;
  border: none;
  font-size: 17px;
  line-height: 0.94;
  color: $color-white;
}
