.page-body {
  width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  margin: 0 auto;
  font-family: "Open sans", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}
