.product {
  padding: 32px 30px;
}

.product__title {
  margin-bottom: 4px;
}

.product__subtitle {
  display: block;
  line-height: 1.18;
  margin-bottom: 18px;
}

.product__description {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 15px;
  line-height: 1.6;
  color: $color-text-light;
}

.product__features {
  margin: 0;
  margin-bottom: 20px;
}

.product__image {
  margin-bottom: 21px;
}

.product__price {
  display: block;
  margin: 0;
  text-align: center;
  color: $color-text-light;
  margin-bottom: 24.5px;
  font-size: 17px;
  line-height: 1.41;
  font-weight: 700;
}

.product__button {
  margin-bottom: 43px;
}
