.production {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border;
  padding: 21.5px 0 33px;

  @media (min-width: $tablet-width) {
    padding: 0 0 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 170px 1fr 113px;
    padding: 0;
    margin: 0;
    margin-bottom: 46px;

    &:hover {
      box-shadow: 0 6px 10px $color-nav-border;
    }

    &:active {
      box-shadow: 0 3px 5px $color-nav-border;
    }
  }
}

.production__subtitle {
  position: relative;
  padding-left: 90px;
  margin-bottom: 24.5px;
  line-height: 1.41;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    padding-left: 105px;
    margin-bottom: 23.5px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    padding-top: 96px;
    padding-left: 78px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &::after {
    position: absolute;
    top: 12px;
    left: 33px;
    content: url("../img/video.svg");

    @media (min-width: $tablet-width) {
      top: -3px;
      left: 41px;
    }

    @media (min-width: $desktop-width) {
      top: 46px;
      left: 78px;
    }
  }
}

.production__video-description {
  font-size: 13px;
  line-height: 1.85;
  padding-left: 34px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 2;
    padding: 0 39px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 253px;
    padding: 0 0 0 78px;
    margin-bottom: 51px;
  }
}

.production__video-container {
  position: relative;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin: 0;
  }
}

.production__video {
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    display: block;
  }
}

.production__playpause {
  position: absolute;
  width: 101px;
  height: 77px;
  top: 24%;
  left: 31%;
  background: url("../img/play.svg") center no-repeat;
  cursor: pointer;

  @media (min-width: $tablet-width) and (max-width: 1149px) {
    width: 102px;
    height: 78px;
    top: 187px;
    left: 282px;
  }

  @media (min-width: $desktop-width) {
    top: 188px;
    left: 292px;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:focus-visible {
    outline: 2px solid $color-text;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__order-button {
  width: 192px;
  margin: 0 33px;
  padding-top: 15px;

  @media (min-width: $tablet-width) and (max-width: 1149px) {
    width: 584px;
    margin: 0 auto;
    padding-top: 17px;
    font-size: 17px;
    line-height: 0.94;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin: 0 79px;
    padding-top: 17px;
    font-size: 17px;
    line-height: 0.94;
  }

  &:hover {
    background-color: $color-text-light;
    color: $color-white;
  }

  &:focus {
    outline: 2px solid $color-text;
  }

  &:active {
    background-color: $color-text-light;
    color: $color-btn-active;
  }
}
