.reviews {
  position: relative;
  padding: 29px 30px 30px;

  @media (min-width: $tablet-width) {
    min-height: 457px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 153px;
    background-image: url("../img/review-bg.jpg");
    background-position: left center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-bg@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px 0 200px;
    margin-bottom: 162px;
    background-image: url("../img/review-bg.jpg");
    background-position: 50px 1px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-bg@2x.jpg");
    }
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      bottom: 35px;
      left: 0;
      content: url("../img/zigzag-line-mobile.svg");
    }

    @media (min-width: $tablet-width) {
      position: absolute;
      left: 0;
      bottom: -89px;
      content: url("../img/zigzag-line-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      bottom: -96px;
      left: 50px;
      content: url("../img/zigzag-line-desktop.svg");
    }
  }
}

.reviews__title {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    order: -1;
    font-size: 43px;
    line-height: 1.16;
    margin-right: auto;
    margin-bottom: 23px;
    padding-top: 83px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 1.08;
    margin-bottom: 0;
    padding: 79px 0 0 24px;
  }
}

.reviews__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 15px;
  line-height: 2;
  color: $color-text-light;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 65px 44px 25px;
    margin: 0;
    margin-top: -28px;
  }
}

.reviews__autor {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 25px;
  }
}

.reviews__name {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.41;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1.33;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 1.41;
  }
}

.reviews__link {
  display: block;
  font-style: normal;
  font-size: 17px;
  line-height: 1.76;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.reviews__button-wrapper {
  display: flex;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 11px;
    right: 49px;
  }

  @media (min-width: $desktop-width) {
    bottom: 59px;
    right: 50px;
  }
}

.reviews__button-previous,
.reviews__button-next {
  padding: 0;
  width: 130px;
  height: 52px;
  background-color: transparent;
  border: 1px solid $color-border;
  cursor: pointer;
  padding-right: 4px;

  @media (min-width: $tablet-width) {
    width: 88px;
    height: 52px;
    border: none;
    padding: 0;
  }

  &:hover {
    color: $color-link-hover;
  }

  &:active {
    color: $color-link-active;
  }
}

.reviews__write {
  padding-top: 15px;
  padding-left: 2px;
  margin-bottom: 61px;

  @media (min-width: $tablet-width) {
    display: block;
    order: -1;
    width: 175px;
    font-size: 17px;
    line-height: 1.18;
    margin: 0;
    margin-top: 78px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 79px;
  }

  &:hover {
    background-color: $color-text-light;
    color: $color-white;
  }

  &:active {
    background-color: $color-text-light;
    color: $color-btn-active;
  }
}
