.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  min-width: 320px;
  min-height: 79px;
  background-color: $color-white;
  box-shadow: 0 1px 0 $color-border, inset 0 1px 0 $color-border;
  box-sizing: border-box;
  padding-left: 76px;
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: $color-text;
  font-size: 17px;
  line-height: 1.41;
  font-weight: 700;
  padding-top: 29px;
}
