.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    z-index: 1;
    top: 237px;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    order: 1;
  }
}

.user-list__item {
  @media (max-width: $mobile-width-only) {
    min-width: 320px;
    min-height: 79px;
    background-color: $color-white;
    box-shadow: 0 1px 0 $color-border, inset 0 1px 0 $color-border;
    box-sizing: border-box;
    padding-left: 30px;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      display: block;
      width: 18px;
      height: 18px;
      padding: 37px 31px 33px 33px;
      border-left: 1px solid $color-nav-border;
      border-right: 1px solid $color-nav-border;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      padding: 34px 32px 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 34px 31px 30px;
    }
  }
}

.user-list__link {
  display: inline-block;
  text-decoration: none;
  color: $color-text;
  font-size: 17px;
  line-height: 1.41;
  font-weight: 700;

  @media (max-width: $mobile-width-only) {
    padding-top: 29px;
  }

  &:hover {
    color: $color-link-hover;
  }

  &:active {
    color: $color-link-active;
  }
}

.user-list__icon {
  margin-right: 22px;
  fill: $color-icon;

  @media (min-width: $tablet-width) {
    margin-right: 26px;
  }
}

.user-list__link:hover .user-list__icon {
  fill: $color-green-light;
}

.user-list__link:active .user-list__icon {
  fill: $color-icon-active;
}

.user-list__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
